fastapi
uvicorn[standard]
streamlit
streamlit-chat
edge-tts
python-multipart
python-dotenv
PyPDF2
numpy
opencv-python-headless
gTTS
Pillow
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-cohere
faiss-cpu
